body {
  font-family: Roboto, Arial, sans-serif;
}

figure {
  margin-left: 0;
  padding-left: 0;
  margin-right: 0;
  padding-right: 0;
  max-width: 100%;
}

img {
  width: 100%;
}

blockquote {
	margin-left: 0;
	padding-left: 0;
}

 .content-width {
	width: 50%;
}

.content-wide {
	display: block;
	width: 75%;
}

body > * {
	margin: auto;
	margin-bottom: 1.5rem;
}

/* 
Tipografija
*/

body {
  line-height: 1.5;
  background-color: cadetblue;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

blockquote {
  font-size: 2rem;
  background-color: rgba(255, 68, 0, 0.5);
  color: beige;
  padding: 2em;
}

a {
  text-decoration: none;
  color: #9e4512;
}

a:hover {
  color: #ff3c00;
}
